$grey-light: #1f1f1f;
$grey-medium: #131313;
$grey-dark: #060606;
$blue: #058ED9;
$white: #F4EBD9;
$grey-hover: #a3a7ad;  
$blue-hover: #5287a3;

//Mixins___________________________________________________________

@mixin setMain($largeMode) {
    .main-div {
        margin: 10px 2vw;
        width: 80%;
        padding: 20px;

        @if ($largeMode) {
            display: flex;
            justify-content: space-between;
        }
    }
}

@mixin setDiv-Info($largeMode) {
    div.info {
        background-color: $white;
        color: $grey-dark;
        width: 90%;
        padding: 10px;

        @if ($largeMode) {
            overflow-y: auto;
            height: 100%;
        }
        @else {
            margin-bottom: 20px;
        }
    }
}
//------------------------------------------------------

//Large screen mode
@media screen and (min-width: 980px) {
    @include setMain(true);
    @include setDiv-Info(true);
}

//Small screen mode
@media screen and (max-width: 980px) {
    @include setMain(false);
    @include setDiv-Info(false);
}

//Both mode
body {
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
    background-color: $grey-dark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    margin-top: 10px;

    div {
        h1 {
            font-size: max(2vw, 18pt);
            text-transform: uppercase;
        }

        p {
            text-align: center;
            font-size: max(16px, 1vw);
        }
    } 
}

section {
    display: flex;
    justify-content: center;
}

//Info side_____________________________________________________
div.info {
        border-radius: 10px;
        padding: 20px;

    h1 {
        text-align: center;
        font-size: max(2em, 3vw);
        margin: 12px 0;
    }

    h2 {
        margin: 10px 0;
        text-align: center;
        font-size: max(1.5em, 2vw);
    }

    p , ul > li {
        font-size: max(1em, 1.5vw);
        text-align: justify;
        padding: 0 10px;

        a {
            color: $grey-dark;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    li {
        margin: 5px 0;
    }

    ul {
        padding: 0 20px;
    }

}

//Calculator side________________________________________________
@mixin calculatorSize($height) {
    height: max($height, 500px);
    width: max(calc(0.68 * $height), 340px);
}

.calculator-body {
    @include calculatorSize(35vw);
    background: $grey-light;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visor-container {
    background-color: $grey-light;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: max(10px, 1vw) 10px 10px 10px;

    .visor-mini {
        font-size: max(2vw, 20px);
        margin-right: max(1vw, 10px);
    }

    p {
        font-size:  max(3vw, 40px);
        margin: 0;
    }
}

@mixin buttonPreset($color, $hover) {
    color: $white;
    background-color: $color;
    $baseSize: 70px;
    height: 95%;
    width: 95%;
    border: 0px;
    font-size: max(2vw, 20px);
    transition: ease-in 0.1s;

    &:hover {
        background-color: $hover;
        color: $grey-dark;
    }
}

.table-calculator {
    width: 100%;
    height: 75%;

    tbody {
        min-height: 500px;
    }
    td {
        min-height: 100px;
        width: 25%;
    }
    
    .btn {
        @include buttonPreset($grey-dark, $grey-hover)
    }

    .btn-eq {
        @include buttonPreset($blue, $blue-hover)
    }

    .btn-ac {
        @include buttonPreset($grey-medium, $grey-hover)
    }
}
